# Mini-Lab: Logistic Regression and SVMs

Names:
Dylan Scott
Jobin Joseph
Nnenna Okpara
Satvik Ajmera

Instructions:
You are to perform predictive analysis (classification) upon a data set: model the dataset using
methods we have discussed in class: logistic regression and support vector machines, and making
conclusions from the analysis. Follow the CRISP-DM framework in your analysis (you are not
performing all of the CRISP-DM outline, only the portions relevant to the grading rubric outlined
below). This report is worth 10% of the final grade. You may complete this assignment in teams of
as many as three people.

Write a report covering all the steps of the project. The format of the document can be PDF,
*.ipynb, or HTML. You can write the report in whatever format you like, but it is easiest to turn in the
rendered iPython notebook. The results should be reproducible using your report. Please carefully
describe every assumption and every step in your report.

SVM and Logistic Regression Modeling
• [50 points] Create a logistic regression model and a support vector machine model for the
classification task involved with your dataset. Assess how well each model performs (use
80/20 training/testing split for your data). Adjust parameters of the models to make them more
accurate. If your dataset size requires the use of stochastic gradient descent, then linear kernel
only is fine to use.

[pick performance stats]

• [10 points] Discuss the advantages of each model for each classification task. Does one type
of model offer superior performance over another in terms of prediction accuracy? In terms of
training time or efficiency? Explain in detail.

• [30 points] Use the weights from logistic regression to interpret the importance of different
features for each classification task. Explain your interpretation in detail. Why do you think
some variables are more important?

• [10 points] Look at the chosen support vectors for the classification task. Do these provide
any insight into the data? Explain.

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='darkgrid')

import plotly.express as px
import plotly.graph_objects as go

### Dataset add-on
From the first project we submitted we have since added on more data that we found on the NTSB website. We were able to merge in new columns using join as well as apend on more recent data. This will give us more vairables but we will have to clean up some of those added rows. This next section will be the clean up.

In [10]:
#Read in the Aviation Data
final_data = pd.read_csv("Data/final_data.csv",low_memory=False,dtype={'damage': str})
#Delete columns that were imported incorrectly
del final_data["Unnamed: 0"]
del final_data["dprt_state.1"]
del final_data["index"]
del final_data["ntsb_no_x"]

final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115706 entries, 0 to 115705
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ev_id              115706 non-null  object
 1   acft_make          115643 non-null  object
 2   acft_model         115630 non-null  object
 3   cert_max_gr_wt     98673 non-null   float64
 4   acft_category      115287 non-null  object
 5   damage             113877 non-null  object
 6   far_part           114925 non-null  object
 7   afm_hrs_last_insp  60298 non-null   float64
 8   type_fly           108599 non-null  object
 9   dprt_city          111864 non-null  object
 10  dprt_state         108791 non-null  object
 11  rwy_len            64222 non-null   float64
 12  rwy_width          63110 non-null   float64
 13  ev_type            115706 non-null  object
 14  ev_city            115646 non-null  object
 15  ev_state           109635 non-null  object
 16  ev_country         115199 non-null  object
 17  ev_highest_injury  114384 non-null  object
 18  inj_f_grnd         51624 non-null   float64
 19  inj_m_grnd         51543 non-null   float64
 20  inj_s_grnd         51520 non-null   float64
 21  inj_tot_f          64375 non-null   float64
 22  inj_tot_m          63902 non-null   float64
 23  inj_tot_n          90784 non-null   float64
 24  inj_tot_s          60713 non-null   float64
 25  inj_tot_t          79933 non-null   float64
 26  sky_cond_ceil      104219 non-null  object
 27  sky_cond_nonceil   100624 non-null  object
 28  wind_vel_ind       113623 non-null  object
 29  wx_int_precip      49898 non-null   object
 30  phase_flt_spec     113882 non-null  object
dtypes: float64(12), object(19)
memory usage: 27.4+ MB

# Data Cleaning Overview

We fixed the levels of columns that should have been grouped together for the `damage` predictor. We fixed the levels of the `ev_city`, by making all the city names uppercase so they would be grouped together. For `wind_vel_ind` the unknown values were labeled as `U` and `UNK` to `UNK`. Then, we took the subset of the continuous predictors: `cert_max_gr_wt`,`afm_hrs_last_insp`,`rwy_len`, and `rwy_width` and removed all the NAs. We were left with approximately 35,000 rows that would be usable for prediction.

The NTSB database allowed use to include ground injuries in addition to flight injuries. So we renamed the columns, replaced the NAs in these columns with 0 and summed all them to get a total injuries column. We wanted to only include the total injuries and drop the other types of injury columns. From there, we converted the total injuries column to a binary variable for classification. If the total injuries were greater than 1, it is considered injured and less than 1 is uninjured. Our last step was to impute all the NA's for the categorical values with an unknown value called `UNK` In all, we are left with the dataframe `final_df` which consisted of 21 columns and 35,427 observations. 

Of the 35,427 observations, 18750 observations were reported as injured and 16677 were reported as uninjured. This column called `Injury` is the response variable, we would like to predict for the classification problem.

In [11]:
#It looks like we have some missing values and have an inconsistant UNK vs UNK on flight damage
#combine all injuries includigng those on the ground
#sky_cond_ceil, sky_cond_nonceil
#chekc U vs Unk for wind_vel_ind
#flight crew 
finaldamagecount = final_data["damage"].value_counts().reset_index()
finaldamagecount.head(5)

  index  damage
0  SUBS   87994
1  DEST   20892
2  MINR    3302
3  NONE    1600
4  UNK       45

In [12]:
#looks like we have some inconsistant cities since some are upper and some are lower case
final_data['ev_city'] = final_data['ev_city'].str.upper()
ev_city_fix = final_data["ev_city"].value_counts().reset_index()
ev_city_fix.head(10)

             index  ev_city
0  ANCHORAGE            358
1        ANCHORAGE      286
2  FORT LAUDERDALE      206
3        FAIRBANKS      203
4          PHOENIX      202
5          HOUSTON      196
6  MIAMI                188
7          ATLANTA      186
8             RENO      185
9        TALKEETNA      182

In [13]:
#looks like we have some inconsistant cities since some are upper and some are lower case
final_data['ev_city'] = final_data['ev_city'].str.upper()
ev_city_fix = final_data["ev_city"].value_counts().reset_index()
ev_city_fix.head(10)

             index  ev_city
0  ANCHORAGE            358
1        ANCHORAGE      286
2  FORT LAUDERDALE      206
3        FAIRBANKS      203
4          PHOENIX      202
5          HOUSTON      196
6  MIAMI                188
7          ATLANTA      186
8             RENO      185
9        TALKEETNA      182

In [14]:
final_data.loc[final_data['damage'].str.contains('UNK', na=False), 'damage'] = 'UNK'
finaldamagecount = final_data["damage"].value_counts().reset_index()
finaldamagecount.head(50)

  index  damage
0  SUBS   87994
1  DEST   20892
2  MINR    3302
3  NONE    1600
4   UNK      89

In [15]:
#checking to see if wind_vel_ind had a miss-match with U and UNK
wind_count = final_data["wind_vel_ind"].value_counts().reset_index()
wind_count.head(50)

  index  wind_vel_ind
0     F         47663
1   UNK         42470
2  SPEC         10900
3  CALM          7074
4     T          4030
5  LVAR          1486

In [16]:
#dealing with unknnowns
#some columns we can't simply replace the blank value with "Unknown" or 0s since that will skew our data
#'cert_max_gr_wt','afm_hrs_last_insp','rwy_len','rwy_width'
# with the columns listed above we have elected to remove any rows where they are blank. This will help focus our data and it will still leave us with an ample amount of data
final_data.dropna(subset=['cert_max_gr_wt','afm_hrs_last_insp','rwy_len','rwy_width'],inplace=True)

In [17]:
#rename the injuries columns to make them easier to read
final_data = final_data.rename(columns={"inj_tot_f": "Total_Fatal_Injuries", "inj_tot_s": "Total_Serious_Injuries","inj_tot_m":"Total_Minor_Injuries","inj_tot_n":'Total_Uninjured',"inj_tot_t":"Total_Injuries_Flight"})

#fill in 0s when there wasn't an injury in that category
final_data.update(final_data[['Total_Fatal_Injuries','Total_Serious_Injuries','Total_Minor_Injuries','Total_Uninjured','Total_Injuries_Flight','inj_f_grnd','inj_m_grnd','inj_s_grnd']].fillna(0))
final_data.head()

,ev_id,acft_make,acft_model,cert_max_gr_wt,acft_category,damage,far_part,afm_hrs_last_insp,type_fly,dprt_city,...,Total_Fatal_Injuries,Total_Minor_Injuries,Total_Uninjured,Total_Serious_Injuries,Total_Injuries_Flight,sky_cond_ceil,sky_cond_nonceil,wind_vel_ind,wx_int_precip,phase_flt_spec
1,20001204X00001,Boeing,747-100,750000.0,AIR,MINR,121,113.0,UNK,CHITOSE,...,0.0,0.0,4.0,0.0,0.0,NONE,SCAT,CALM,UNK,Landing
3,20001204X00003,Cessna,172,2300.0,AIR,SUBS,091,40.0,PERS,,...,0.0,0.0,1.0,0.0,0.0,BKN,UNK,UNK,LGT,Unknown
4,20001204X00004,Cessna,207,3800.0,AIR,SUBS,135,49.0,UNK,,...,0.0,0.0,1.0,0.0,0.0,BKN,UNK,UNK,UNK,Descent
6,20001204X00006,Beech,300,14100.0,AIR,DEST,091,3.0,EXEC,GREENEVILLE,...,2.0,0.0,0.0,0.0,2.0,BKN,UNK,UNK,MOD,Approach
8,20001204X00008,Aero Commander,560A,6000.0,AIR,DEST,091,13.0,PERS,,...,2.0,0.0,0.0,2.0,4.0,NONE,CLER,UNK,UNK,Approach

In [10]:
#set missing variables to Unknown in order to run our models
final_data.update(final_data.fillna("UNK"))
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35427 entries, 1 to 115696
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ev_id                   35427 non-null  object
 1   acft_make               35427 non-null  object
 2   acft_model              35427 non-null  object
 3   cert_max_gr_wt          35427 non-null  float64
 4   acft_category           35427 non-null  object
 5   damage                  35427 non-null  object
 6   far_part                35427 non-null  object
 7   afm_hrs_last_insp       35427 non-null  float64
 8   type_fly                35427 non-null  object
 9   dprt_city               35427 non-null  object
 10  dprt_state              35427 non-null  object
 11  rwy_len                 35427 non-null  float64
 12  rwy_width               35427 non-null  float64
 13  ev_type                 35427 non-null  object
 14  ev_city                 35427 non-null  object
 15  ev_state                35427 non-null  object
 16  ev_country              35427 non-null  object
 17  ev_highest_injury       35427 non-null  object
 18  inj_f_grnd              35427 non-null  float64
 19  inj_m_grnd              35427 non-null  float64
 20  inj_s_grnd              35427 non-null  float64
 21  Total_Fatal_Injuries    35427 non-null  float64
 22  Total_Minor_Injuries    35427 non-null  float64
 23  Total_Uninjured         35427 non-null  float64
 24  Total_Serious_Injuries  35427 non-null  float64
 25  Total_Injuries_Flight   35427 non-null  float64
 26  sky_cond_ceil           35427 non-null  object
 27  sky_cond_nonceil        35427 non-null  object
 28  wind_vel_ind            35427 non-null  object
 29  wx_int_precip           35427 non-null  object
 30  phase_flt_spec          35427 non-null  object
dtypes: float64(12), object(19)
memory usage: 8.6+ MB

We will be using code from this classes Github: 
https://github.com/jakemdrew/DataMiningNotebooks/blob/master/04.%20Logits%20and%20SVM.ipynb

In [22]:
#we want to account for ALL injuries. This includes injuries on the ground as well as passangers
#Here we will make a new column that shows total injuries including ground ones
final_data['Total_Injuries_Ground'] = final_data['inj_f_grnd']+final_data['inj_m_grnd']+final_data['inj_s_grnd']
final_data['Total_Injuries'] = final_data['Total_Injuries_Ground']+final_data['Total_Injuries_Flight']
final_data.head()

,ev_id,acft_make,acft_model,cert_max_gr_wt,acft_category,damage,far_part,afm_hrs_last_insp,type_fly,dprt_city,...,Total_Uninjured,Total_Serious_Injuries,Total_Injuries_Flight,sky_cond_ceil,sky_cond_nonceil,wind_vel_ind,wx_int_precip,phase_flt_spec,Total_Injuries_Ground,Total_Injuries
1,20001204X00001,Boeing,747-100,750000.0,AIR,MINR,121,113.0,UNK,CHITOSE,...,4.0,0.0,0.0,NONE,SCAT,CALM,UNK,Landing,0.0,0.0
3,20001204X00003,Cessna,172,2300.0,AIR,SUBS,091,40.0,PERS,,...,1.0,0.0,0.0,BKN,UNK,UNK,LGT,Unknown,0.0,0.0
4,20001204X00004,Cessna,207,3800.0,AIR,SUBS,135,49.0,UNK,,...,1.0,0.0,0.0,BKN,UNK,UNK,UNK,Descent,0.0,0.0
6,20001204X00006,Beech,300,14100.0,AIR,DEST,091,3.0,EXEC,GREENEVILLE,...,0.0,0.0,2.0,BKN,UNK,UNK,MOD,Approach,0.0,2.0
8,20001204X00008,Aero Commander,560A,6000.0,AIR,DEST,091,13.0,PERS,,...,0.0,2.0,4.0,NONE,CLER,UNK,UNK,Approach,0.0,4.0

In [23]:
#create a new column of injuried or not to get a binary response
#1 means someone was hurt 0 means someone was not
final_data['Injury'] = np.where(final_data['Total_Injuries'] >0,1,0)
injuries = final_data["Injury"].value_counts().reset_index()
injuries.head(50)

   index  Injury
0      1   18750
1      0   16677

In [24]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35427 entries, 1 to 115696
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ev_id                   35427 non-null  object
 1   acft_make               35427 non-null  object
 2   acft_model              35426 non-null  object
 3   cert_max_gr_wt          35427 non-null  float64
 4   acft_category           35423 non-null  object
 5   damage                  35400 non-null  object
 6   far_part                35427 non-null  object
 7   afm_hrs_last_insp       35427 non-null  float64
 8   type_fly                34929 non-null  object
 9   dprt_city               35263 non-null  object
 10  dprt_state              35204 non-null  object
 11  rwy_len                 35427 non-null  float64
 12  rwy_width               35427 non-null  float64
 13  ev_type                 35427 non-null  object
 14  ev_city                 35420 non-null  object
 15  ev_state                35196 non-null  object
 16  ev_country              35281 non-null  object
 17  ev_highest_injury       35395 non-null  object
 18  inj_f_grnd              35427 non-null  float64
 19  inj_m_grnd              35427 non-null  float64
 20  inj_s_grnd              35427 non-null  float64
 21  Total_Fatal_Injuries    35427 non-null  float64
 22  Total_Minor_Injuries    35427 non-null  float64
 23  Total_Uninjured         35427 non-null  float64
 24  Total_Serious_Injuries  35427 non-null  float64
 25  Total_Injuries_Flight   35427 non-null  float64
 26  sky_cond_ceil           34876 non-null  object
 27  sky_cond_nonceil        34034 non-null  object
 28  wind_vel_ind            35385 non-null  object
 29  wx_int_precip           23876 non-null  object
 30  phase_flt_spec          35394 non-null  object
 31  Total_Injuries_Ground   35427 non-null  float64
 32  Total_Injuries          35427 non-null  float64
 33  Injury                  35427 non-null  int64
dtypes: float64(14), int64(1), object(19)
memory usage: 9.5+ MB

In [25]:
#delete the index column called "Unnamed: 0"
final_df = final_data.copy()
#Since we added up all of our injuries we don't need the other columns that include injury count since it will be colinear to our prediction variable
final_df = final_df.drop(['Total_Fatal_Injuries','Total_Serious_Injuries','Total_Minor_Injuries','Total_Uninjured','Total_Injuries_Flight','inj_f_grnd','inj_m_grnd','inj_s_grnd','Total_Injuries_Ground',"Total_Injuries","ev_id", "dprt_city"],axis = 1)

# Data Preprocessing: 
One-hot encoding, Scaling, and Standardizing the data

Using the `final_df`, we created a variable `X` for all predictors and `y` for the response variable: `Injury`.

In [26]:
X = final_df.drop("Injury", axis = 1).copy()
y = final_df["Injury"].copy()

### One hot encoding and tranforming our `X` and `y`:
We wanted to first one hot encode `X` and tranform it into a sparse matrix. Using the Label Encoder from sklearn we `y` into a binary array.

In [27]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop="first")
encoder.fit(X)
X = encoder.transform(X)
X

<35427x25118 sparse matrix of type '<class 'numpy.float64'>'
	with 646102 stored elements in Compressed Sparse Row format>

In [28]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(y)
y = le.transform(y)
y

array([0, 0, 0, ..., 1, 1, 1])

### Training and Testing Split
For training and testing, we gathered 80% of data for the training and 20% for testing data using `scikit-learn`. So far, we have not used cross validation.

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

### Creating a Logistic Regression Model using the Raw Data

In [30]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression(class_weight="balanced")
logisticRegr.fit(X_train, y_train)
y_hat = logisticRegr.predict(X_test)

In [35]:
from sklearn import metrics as mt
accuracy_raw = mt.accuracy_score(y_test,y_hat)
conf_raw = mt.confusion_matrix(y_test,y_hat)
print("The accuracy for the raw data is: ",accuracy_raw)
print("Raw Data Confusion Matrix:")
print(conf_raw)

The accuracy for the raw data is:  0.999435506632797
Raw Data Confusion Matrix:
[[3331    4]
 [   0 3751]]

### Standardizing and scaling the data:
From sklearn.preprocessing, the StandardScaler allowed us standardize our data. We wanted to compare performance metrics between the raw data vs. scaled and standardized data.

In [37]:
from sklearn.preprocessing import StandardScaler

scl_obj = StandardScaler(with_mean=False)
scl_obj.fit(X_train) 

X_train_scaled = scl_obj.transform(X_train) 
X_test_scaled = scl_obj.transform(X_test)

### Creating a Logistic Regression Model using the Standardized and Scaled Data

In [38]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression(class_weight="balanced")
logisticRegr.fit(X_train_scaled, y_train)
y_hat = logisticRegr.predict(X_test_scaled)

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [40]:
from sklearn import metrics as mt
accuracy_stan = mt.accuracy_score(y_test,y_hat)
conf_stan = mt.confusion_matrix(y_test,y_hat)
print("The accuracy for the standardized and scaled data is:", accuracy_stan)
print("Standardized and Scaled Data Confusion Matrix:")
print(conf_stan)

The accuracy for the standardized and scaled data is: 0.998447643240192
Standardized and Scaled Data Confusion Matrix:
[[3333    2]
 [   9 3742]]

As we can see, the accuracy is too high. `ev_highest_injury` is a categorical level that indicates the highest level of injury among all injuries sustained as a result of the event. We found that `ev_highest_injury` must be highly correlated our response variable, `Injury`. By removing `ev_highest_injury`, our accuracy would measure better moving forward.

# Final Models: USE THIS HOMIES

Moving forward, we will have `ev_highest_injury` removed from the final dataframe for all our models.

In [43]:
df = final_df.copy()
del df['ev_highest_injury']

In [42]:
X = df.drop("Injury", axis = 1).copy()
y = df["Injury"].copy()

In [28]:
#one hot encoding with proper model
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop="first")
encoder.fit(X)
X = encoder.transform(X)
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(y)
y = le.transform(y)

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [31]:
from sklearn.preprocessing import StandardScaler
# scale attributes by the training set
scl_obj = StandardScaler(with_mean=False)
scl_obj.fit(X_train) # find scalings for each column that make this zero mean and unit std
# the line of code above only looks at training data to get mean and std and we can use it 
# to transform new feature data

X_train_scaled = scl_obj.transform(X_train) # apply to training
X_test_scaled = scl_obj.transform(X_test)

In [ ]:
#cross validation
for iter_num, (train_indices, test_indices) in enumerate(cv_object.split(X,y)):
    lr_clf.fit(X[train_indices],y[train_indices])  # train object
    y_hat = lr_clf.predict(X[test_indices]) # get test set precitions

    # print the accuracy and confusion matrix 
    print("====Iteration",iter_num," ====")
    print("accuracy", mt.accuracy_score(y[test_indices],y_hat)) 
    print("confusion matrix\n",mt.confusion_matrix(y[test_indices],y_hat))

# Logistic Regression

In [37]:
#scaled
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression(class_weight="balanced",solver='liblinear',penalty = 'l2')
logisticRegr.fit(X_train_scaled, y_train)
y_hat = logisticRegr.predict(X_test_scaled)

from sklearn import metrics as mt
acc = mt.accuracy_score(y_test,y_hat)
conf = mt.confusion_matrix(y_test,y_hat)
print(acc)
print(conf)

0.7313011572114028
[[2423  912]
 [ 992 2759]]

In [35]:
#NOT Scaled
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression(class_weight="balanced",solver='lbfgs', max_iter=1000)
logisticRegr.fit(X_train, y_train)
y_hat = logisticRegr.predict(X_test)

from sklearn import metrics as mt
acc = mt.accuracy_score(y_test,y_hat)
conf = mt.confusion_matrix(y_test,y_hat)
print(acc)
print(conf)

0.8178097657352527
[[2932  403]
 [ 888 2863]]

In [30]:
from sklearn.model_selection import ShuffleSplit

# we want to predict the X and y data as follows:
if 'Injury' in final_df:
    y = final_df['Injury'].values # get the labels we want
    del final_df['Injury'] # get rid of the class label
    X = final_df.values # use everything else to predict!

    ## X and y are now numpy matrices, by calling 'values' on the pandas data frames we
    #    have converted them into simple matrices to use with scikit learn
    
    
# to use the cross validation object in scikit learn, we need to grab an instance
#    of the object and set it up. This object will be able to split our data into 
#    training and testing splits
num_cv_iterations = 3
num_instances = len(y)
cv_object = ShuffleSplit(n_splits=num_cv_iterations,
                         test_size  = 0.2)
                         
print(cv_object)

ShuffleSplit(n_splits=3, random_state=None, test_size=0.2, train_size=None)

to do:
one hot encoding
avoid confounding variables - this causes an issue with feature importance
check for highly corrilated variables - 
use a confusion matrix
scale our data
large diff in KDE for support vectors - it falls along the decision bountry vs the read data